{% extends 'base.html' %}
{% load staticfiles %}
<style>
{% block style %}
h4{
	color:yellow;
	text-align: center;
}
{% endblock %}
</style>

{% block content %}
	<div class = 'col-sm-10 col-sm-offset-1 main-info-box'>
    <h1 class="text-align-center">Exercise</h1><hr>
    <h4>Compound vs Isolation</h4>
    <p>Compound exercises are exercises that requires you to use more than one joint. For example a pushup requires you to use your shoulders and elbows. An isolation exercise only requires one joint. For example, a dumbbell curl only requires you use your elbow. Compound exercises are more efficient so I recommend do those at the beginning of your workout. Isolation exercises can either be avoided or done at the end of your workout.</p>
    <h4>Cardio</h4>
    <p>If your trying to lose weight cardio is essential. Several examples of aerobic exercises include running, swimming, walking, and hiking. Several benefits of cardio include improved heart health, increased heart health, improved heart health, and improved recovery ability. </p></br>
    <h4>Squats and Lunges</h4>
    <p>Squats primarily work your thighs and glutes. They also require you to use your core and back to maintain your posture. If you try to squat while bending your back forward then you can break your back. Make sure your back is straight. You can perform this exercise even if you don't have access to a squat rack.</p></br>
    <h4>Push-ups/Bench</h4>
    <p>These exercises primarily work your chest and triceps, but also require the use of your core. Make sure if you bench you have someone to spot you. If you can't do regular pushups then allow your knees to touch the ground and then do push-ups from there. If regular pushups are too easy then put your feet on a chair.</p></br>
    <h4>Shoulder Press/Handstand push-ups</h4>
    <p>These exercises primarily work your shoulders and triceps. Handstand push-ups are, for most, very difficult. It is usually best to just lift a barbell over your head. If using a free-weight(<em>not a machine</em>) then it best to have someone spot you to make sure you don't get seriously injured.</p></br>
    <h4>Flexibility</h4>
    <p>It is important to develope flexibility to prevent injury and enhance mobility. You will generally feel more physically comfortable if you are flexible. This involves dynamic stretching before your workout and static stretching after. Dynamic stretching is stretching through certain movements. For example, jogging, lunges, jumping jacks, and push-ups. Static stretches involve you maintaining a certain position for an extended period of time. Static stretches are usually associated with yoga.</p></br>
  </div>
{% endblock %}